.form{
    width: 40%;
    margin:auto;color: #fff;
    margin-top: 10%;
}
.formContent{
    border: 1px solid #289278;
    margin-top: 10px;
    margin-bottom: 10px;
   border-radius: 5px;
}
.label{
      width:30% ;
      float: left;
      background-color:#289278;
      padding: 8px;
}
.input{
    padding: 10px;
    border:none;
    outline: none;
    margin-left: 10px;
}
.button{
    width: 100%;
    padding: 10px;
    border:none;
    background-color: #289278;
    color: #fff;
}

